$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #0e6cff;
// $primary-color: #e0ffff;
$secondary-color: rgb(255, 135, 0);
$third-color: rgb(36,94,36);
$mobile-breakpoint:700px;

@function set-text-color($color) {
    @if(lightness($color) > 70) {
      @return rgb(22, 21, 21);
    } @else {
      @return rgb(250, 245, 245);
    }
  }

  @mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
  }