<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Number Guessing Game</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="vue.js" defer></script>
</head>
<body>
    <h1>Number guessing game</h1>
    <p>Try and guess a random number between 1 and 100.</p>
    <p>You have 10 attempts to guess the right number.</p>
    </br>
    <div id="wrapper">
        <form class="form" v-on:submit.prevent=guessANumber>
            <label2 for="guessField" id="guess">Guess a number</label>
            <input type="number" id="guessField" class="guessField">
            <input type="submit" id="subt" value="Submit guess" class="guessSubmit">
        </form>

        <div class="resultParas">
            <p >Previous Guesses: <span class="guesses"></span>{{previousGuesses}}</p>
            <p >Guesses Remaining: <span class="lastResult">{{guesses}}</span></p>
            <p class="lowOrHi"></p>
        </div>
        <div>
            <p v-if="guesses==-1">Game Over! Number was {{numberToGuess}}</p>
            <p v-else-if="numberofGuesses==numberToGuess">You Win!</p>
        </div>
        <div>
            <p v-show="show" v-if="numberofGuesses<numberToGuess">Too low! Try again!</p>
            <p v-else-if="numberofGuesses>numberToGuess">Too High! Try again!</p>
        </div>
    </div>
</body>
</html>